@import '../../App.scss';

$Primary_Fit_Gradient: linear-gradient(101deg, rgba(89, 223, 116, 0.1) 15.26%, rgba(21, 192, 182, 0.1) 0.1%);

.whatsapp {
    position: fixed;
    content: '';
    right: 0px;
    bottom: 0;
    z-index: 1;
}

.banner_section {
    width: 100%;
    margin: 30px 0;
    .banner_inner_section{
        width: 100%;
        min-height: 790px;
        border-radius: 20px;
        background: $Primary_Fit_Gradient;
        .content_section {
            width: 100%;
            height: 100%;
            min-height: 824px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 50px;
            label{
                background: $Black_Color;
                color: #fff;
                max-width: 107px;
                min-height: 40px;
                border-radius: 75px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            h1{
                font-size: 60px;
                font-weight: 500;
                margin: 15px 0;
                span{
                    color: $Primary_Green;
                    font-weight: 700;
                }
            }
            p{
                color: $Grey_Color;
                margin-bottom: 20px;
                font-size: 18px;
            }
            .enter_mobile_button {
                position: relative;
                input.form-control {
                    padding: 24px;
                    border-radius: 35px !important;
                    border: none;
                    box-shadow: none;
                    font-size: 18px;
                    z-index: 1;
                    color: #999999;
                    &::-webkit-outer-spin-button{
                        -webkit-appearance: none;
                        margin: 0;
                    }
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }
                .input_button {
                    border-radius: 75px !important;
                    position: absolute;
                    right: 7px;
                    top: 7px;
                    max-width: 154px;
                    height: 60px;
                    width: 100%;
                    border: none;
                    z-index: 2;
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }
        .img_section {
            width: 100%;
            height: 100%;
            min-height: 824px;
            position: relative;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            img{
                width: 100%;
                max-width: 565px;
                height: 791px;
                object-fit: contain;
                object-position: bottom;
            }
            .step_board{
                position: absolute;
                content: "";
                top: 50%;
                background: #fff;
                border-radius: 16px;
                max-width: 223px;
                min-height: 106px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                left: 0;
                .svg_icons {
                    display: flex;
                    justify-content: space-between;
                }
                p{
                    margin-top: 10px;
                }
            }
        }
    }    
}

.our_ultimate_plans{
    width: 100%;
    background: #FCFCFC;
    padding-bottom: 100px;
    padding-top: 50px;
    margin-top: 100px;
    .heading{
        margin-bottom: 50px;
        svg {
            position: relative;
            left: -120px;
        }
    }
    .ultimate_plan_column_1{
        width: 100%;
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-direction: column;
        .nav-tabs {
            border-bottom: none;
            display: flex;
            justify-content: center;
            margin-bottom: 100px !important;
            .nav-item{
                transition: all 0.4s ease-in-out;
                margin: 0 20px;
                .nav-link{
                    color: $Grey_Color;
                    font-size: 24px;
                    border: none;
                    transition: all 0.4s ease-in-out;
                    &:hover{
                        border: none;
                        transition: all 0.4s ease-in-out;
                    }
                    &:focus {
                        border: none;
                        transition: all 0.4s ease-in-out;
                    }
                    &.active{
                     border: none;
                     color: #000;
                     border-bottom: 2px solid $Primary_Green;
                     background: transparent;
                     box-shadow: none;
                    }
                }
            }
        }
        .outUltimateItems {
            width: 100%;
            display: flex;
            gap: 20px;
            justify-content: center;
            .item {
                width: 24%;
                background: #fff;
                padding: 25px;
                position: relative;
                border-radius: 12px;
                margin-bottom: 50px;
                .item_content_image {
                    width: 100%;
                    display: flex;
                    align-items: flex-start;
                    .item_image {
                        margin-top: -70px;
                        position: relative;
                        max-width: 50%;
                        &::before{
                            position: absolute;
                            content: "";
                            max-width: 179px;
                            max-height: 218px;
                            bottom: 0;
                            background: linear-gradient(180deg, rgba(249, 249, 249, 0) 0%, #FFF 100%);
                            width: 100%;
                            height: 100%;
                        }
                        img{
                            height: 100%;
                        }
                    }
                    .item_content{
                        width: 50%;
                        p{
                            font-size: 12px;
                            color: $Grey_Color;
                        }
                        h4{
                            color: $Grey_Color;
                            font-weight: 700;
                        }
                    }
                }
                .benefit{
                    font-size: 14px;
                    font-weight: 500;
                    margin-top: 20px;
                }
                ul{
                    list-style: none;
                    padding: 0;
                    margin-bottom: 20px;
                    span{
                        display: inline-block;
                        margin-right: 10px;
                        svg{
                            width: 16px;
                            height: 16px;
                            object-fit: contain;
                        }
                    }
                    li{
                        font-size: 12px;
                        margin-top: 10px;
                    }
                }
                .starting_amount{
                    p{
                        font-size: 10px;
                        color: $Grey_Color;
                    }
                    h4{
                        font-size: 26px;
                        font-weight: 700;
                        color: $Grey_Color;
                    }
                }
            }
        }    
    }  
    .claim_button{
        width: 100%;
        display: flex;
        justify-content: center;
        .global_button{
            min-width: 291px;
            padding: 20px;
        }
    }
}

.customer_experience{
    width: 100%;
    margin: 100px 0 250px;
    position: relative;
    .heading{
        width: 100%;
        margin-bottom: 100px;
        svg {
            position: relative;
            right: 10%;
        }
    }
    .slick-slide{
        img{
            max-width: 385px;
            max-height: 686px;
            object-fit: contain;
        }
    }
}

.our_coaches{
    width: 100%;
    background: #FCFCFC;
    padding: 100px 0;    
    .heading{
        svg {
            position: relative;
            left: -60px;
        }
        p{
            color: #999999;
            max-width: 550px;
            margin: 20px auto;
        }
    }
    .coach_section{
        width: 100%;
        margin: 100px 0;
        text-align: center;
        .coach_content{
            width: 100%;
            position: relative;
            text-align: center;
            padding: 20px;
            padding-bottom: 0;
            z-index: 1;
            margin-top: -20px;
            &::before{
                position: absolute;
                content: '';
                background-image: url(../../asset/images/coach_content_shape.png);
                top: -50px;
                width: 100%;
                height: calc(100% + 71px);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                left: 0;
                z-index: -1;
            }
            h6{
                font-size: 14px;
                color: $Primary_Green;
            }
            h5{
                font-size: 28px;
                color: #666;
                margin: 20px 0;
            }
            p{
                color: #999;
            }
        }
    }
    .common_button {
        width: 100%;
        text-align: center;
        .global_button{
            min-width: 225px;
            padding: 20px;
        }
    }
}

.fitness_in_hands{
    width: 100%;
    margin: 100px 0;
    .fitness_hands_column{
        display: flex;
        .content{
            width: 50%;
            background: #f9f9f9;
            border-radius: 30px 0 0 30px;
            padding: 50px;
            h4{
                font-size: 48px;
                margin-bottom: 30px;
                span{
                    color: $Primary_Green;
                }
            }
            ul{
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                    margin-bottom: 15px;
                    display: flex;
                    span{
                        margin-right: 15px;
                    }
                }
            }
        }
        .img{
            width: 50%;
            img{
                border-radius: 0 30px 30px 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top center;
            }
        }
    }    
}

.how_to_use{
    width: 100%;
    background: #fcfcfc;
    padding: 100px 0;
    .heading{
        svg{
            position: relative;
            left: -80px;
        }
        p {
            color: #999999;
            max-width: 550px;
            margin: 20px auto;
        }
    }
    .how_to_use_internal_section{
        margin-top: 50px;
        .how_to_use_steps{
            width: 100%;
            background: #fff;
            padding: 30px;
            border-radius: 12px;
            margin: 30px 0 0;
            label{
                background: $Primary_Green;
                color: #fff;
                border-radius: 75px;
                padding: 10px 20px;
                margin-bottom: 15px;
            }
            h4{
                font-size: 20px;
                color: #666;
                margin-bottom: 15px;
            }
            p{
                color: #999;
            }
        }
        .how_to_use_img{
            width: 100%;
            margin: 30px 0 0;
            position: relative;
            .step_board {
                    position: absolute;
                    content: "";
                    top: 50%;
                    background: #fff;
                    border-radius: 16px;
                    max-width: 223px;
                    min-height: 106px;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    left: 30px;
            
                    .svg_icons {
                        display: flex;
                        justify-content: space-between;
                    }
            
                    p {
                        margin-top: 10px;
                        text-align: right;
                    }
                }
            img{
                width: 100%;
                height: 100%;
                border-radius: 12px;
                min-height: 680px;
                object-fit: cover;
                object-position: top center;
            }
        }
    }
    .common_button {
        width: 100%;
        text-align: center;
        margin-top: 80px;

        .global_button {
            min-width: 225px;
            padding: 20px;
        }
    }
}

.transform_body {
    width: 100%;
    margin: 50px 0;
    .transform_health_heading {
        width: 100%;
        h4{
            font-size: 42px;
            margin-bottom: 25px;
        }
        .global_button{
            width: 100%;
            max-width: 291px;
            padding: 20px; 
        }
    }
    .transform_health_paragraph{
        .content{
            width: 100%;
            color: #999999;
            font-size: 20px;
        }
        .achievements {
            width: 100%;
            display: flex;
            justify-content: space-between;
            background: $Primary_Fit_Gradient2;
            padding: 30px 40px;
            margin: 50px 0;
            border-radius: 12px;
            .content_1{
                h4{
                    color: #fff;
                    font-size: 42px;
                }
                h6{
                    color: #fff;
                    font-size: 18px;
                    font-weight: 400;
                }
            }
        }
    }
    .transform_1 {
        display: flex;
        gap: 20px;
        margin-bottom: 40px;
        span{
            &:first-child{
                width: 100%;
                height: 100%;
                background: linear-gradient(101deg, rgba(89, 223, 116, 0.1) 0.1%, rgba(21, 192, 182, 0.1) 0.1%);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 97px;
                min-height: 97px;
            }
            h4 {
                font-size: 20px;
            }
            p{
                font-size: 16px;
                margin-top: 5px;
                color: #999;
            }
        }
    }
    iframe.embed-responsive-item {
        width: 100%;
        height: 100%;
        border-radius: 12px;
        video {
            width: 100% !important;
            object-fit: cover !important;
        }
    }
}

.best_transformation{
    width: 100%;
    margin-bottom: 100px;
    margin-top: 100px;
    .heading{
        svg{
            position: relative;
            left: -210px;
        }
    }
    .ratings {
        width: 100%;
        max-width: 363px;
        height: 100%;
        min-height: 75px;
        background: #f9f9f9;
        padding: 20px;
        border-radius: 75px;
        margin: 30px auto;
    }
    .videos_column {
        width: 100%;
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: space-between;
        .first_video {
            width: 100%;
            max-width: 281px;
            height: 289px;
        }
        .second_video {
            width: 100%;
            max-width: 281px;
            height: 198px;
        }
        .third_video {
            width: 100%;
            max-width: 281px;
            height: 289px;
            margin-top: -40px;
        }
        .forth_video {
            width: 100%;
            max-width: 331px;
            height: 635px;
            margin-top: 0;
        }
        .fifth_video {
            width: 100%;
            max-width: 281px;
            height: 289px;
        }
        .sixth_video {
            width: 100%;
            max-width: 281px;
            height: 198px;
            margin-top: 0;
        }
        .seventh_video {
            width: 100%;
            max-width: 281px;
            height: 289px;
        }
    }
}

.testimonials{
    width: 100%;
    margin: 100px 0;
    background: #F9F9F9;
    padding: 50px 0 100px;
    .numbers {
        width: 100%;
        margin-top: 50px;
        ul{
            display: flex;
            justify-content: space-between;
            li{
                list-style: none;
                text-align: center;
                h4{
                    font-size: 60px;
                    color: #15C06E;
                }
                p{
                    color: #999999;
                }
            }
        }
    }
    .common_button {
        width: 100%;
        text-align: center;
        margin-top: 30px;

        .global_button {
            min-width: 225px;
            padding: 20px;
        }
    }
}

.app_links{
    width: 100%;
    background: $Primary_Fit_Gradient;
    margin: 250px 0 80px;
    min-height: 800px;
    .app_links_image{
        margin-top: -120px;
        img{
            width: 100%;
            max-width: 708px;
            min-height: 849px;
            object-fit: cover;
        }    
    }
    .app_links_content {
        width: 100%;
        height: 100%;
        padding: 0 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h4{
            font-size: 42px;
        }
        p{
            color: #999;
            margin: 20px 0;
        }
        ul {
            margin: 40px 0 100px 0;
            padding: 0;
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
            -o-columns: 2;
            li{
                list-style: none;
                margin: 0 0 20px 0;
                span{
                    &:first-child{
                        margin-right: 10px;
                    }
                }
            }
        }
        .google_apple_links{
            span{
                display: flex;
                gap: 10px;
            }
        }
    }
}

.feature_section{
    width: 100%;
    margin-bottom: 80px;
    .heading{
        width: 100%;
        margin: 80px 0;
        svg{
            position: relative;
            left: -80px;
        }
    }
    .feature_1 {
        width: 100%;
        background: #F9F9F9;
        border-radius: 12px;
        min-height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.4s ease-in-out;
        padding: 0 20px;
        &:hover{
            transition: all 0.4s ease-in-out;
            img{
                filter: grayscale(0%);
                -webkit-filter: grayscale(0%);
                -moz-filter: grayscale(0%);
                -o-filter: grayscale(0%);
                transition: all 0.4s ease-in-out;
            }
        }
        img{
            filter: grayscale(100%);
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            transition: all 0.4s ease-in-out;
        }
    }
    .text-dec {
        width: 100%;
        margin: 50px 0;
        text-align: center;
        p{
            color: #999;
            font-size: 16px;
            line-height: 24px;
        }
    }
}

.health_score{
    width: 100%;
    background: $Primary_Fit_Gradient;
    padding: 80px 0;
    .heading{
        margin: 0 0 50px 0;
        svg{
            position: relative;
            left: -360px;
        }
    }
    .health_score_section_wrap {
        width: 100%;
        .new_section{
            width: 100%;
            text-align: center;
            background: #fff;
            padding: 70px;
            border-radius: 12px;
            h4{
                color: #222222;
                font-size: 42px;
                span{
                    color: #15C06E;
                    display: block;
                }
            }
            p{
                font-size: 18px;
                color: #999;
                margin: 20px 20%;
            }
            .health_score_less_more{
                width: 100%;
                display: flex;
                gap: 22px;
                justify-content: center;
                margin: 25px 0;
                .health_less_div{
                    border-radius: 12px;
                    border: 2px solid #15C06E;
                    background: linear-gradient(180deg, #E6F8EF 0%, #FFF 100%);
                    min-width: 297px;
                    min-height: 197px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    h4{
                        font-size: 24px;
                        margin: 10px 0;
                        color: #15C06E;
                    }
                    p{
                        font-size: 16px;
                        margin: 0;
                    }
                }
                .health_more_div{
                    border-radius: 12px;
                    border: 1px solid #E6E6E6;
                    background: #FFF;
                    min-width: 297px;
                    min-height: 197px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    h4 {
                        font-size: 24px;
                        margin: 10px 0;
                        color: #EC6E6E;
                    }
                
                    p {
                        font-size: 16px;
                        margin: 0;
                    }
                }
            }
        }
        .health_wrap{
            display: flex;
            gap: 30px;
            justify-content: center;
            flex-wrap: wrap;
        }    
    
        .health_question{
            width: 45%;
            min-height: 238px;
            background: #fff;
            padding: 30px;
            margin: 0;
            border-radius: 12px;
            border: 1px solid #E6E6E6;
            h4{
                font-size: 18px;
                color: #999;
                line-height: 28px;
                margin-bottom: 30px;
            }
        }
    }    
    .form_check_wrap{
        margin: 0;
        padding: 0;
        columns: 2;
        .form-check-inline {
            display: flex;
            margin-right: 1rem;
            width: 70%;
            margin: 0 0px 20px 0;
            gap: 20px;
            label{     
                display: inline-block;
                cursor: pointer;
            }
        }
    }
    .common_button {
        width: 100%;
        text-align: center;
        margin-top: 50px;
        .global_button {
            min-width: 225px;
            padding: 20px;
        }
    }
}

.contact_form{
    width: 100%;
    margin: 80px 0;
    .banner_with_contact{
        width: 100%;
        position: relative;
        .contact_form_text {
            width: 100%;
            margin-top: 100px;
            min-height: 400px;
            display: flex;
            z-index: 1;
            .text{
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 50px;
                h4,p{
                    color: #fff;
                    margin: 10px 0;
                }
                h4{
                    font-size: 42px;
                }
                p{
                    font-size: 18px;
                }
            }
            .contact_form_section {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                form{
                    max-width: 529px;
                    min-height: 380px;
                    background: #fff;
                    padding: 30px;
                    border-radius: 20px;
                    width: 100%;
                    box-shadow: -111px 12px 250px 0px rgba(0, 0, 0, 0.07);
                    margin-top: -190px;
                    .form-control {
                        width: 100%;
                        min-height: 56px;
                        background: #f9f9f9;
                        margin: 30px 0;
                        border: none;
                    }
                    button{
                        width: 100%;
                        max-width: 219px;
                        min-height: 70px;
                        margin: 0 auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
        img{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            min-height: 400px;
            border-radius: 30px;
            object-fit: cover;
            object-position: top center;
            z-index: -1;
            border: 1px solid #000000;
        }
    }    
}

.display-block{
    display: block !important;
}

.display-none {
    display: none !important;
}

@media(min-width: 320px) and (max-width: 991px){
    .testimonials .numbers ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
    }
    .testimonials .numbers ul li h4 {
        font-size: 28px;
        color: #15C06E;
    }
    .testimonials {
        padding: 50px 0 50px;
    }
    .testimonials .common_button {
        margin-top: 0;
    }
    .health_score .common_button {
        margin-top: 0;
    }
    .health_score .health_score_section_wrap .health_wrap {
        flex-direction: column;
    }
    .health_score .health_score_section_wrap .health_question {
        width: 100%;
        padding: 20px 20px;
    }
    .health_score .form_check_wrap {
        columns: 2;
    }
    .best_transformation .videos_column {
        flex-direction: column;
    }
    .best_transformation .videos_column .first_video {
        max-width: 100%;
        height: 100%;
    }
    .best_transformation .videos_column .second_video {
        max-width: 100%;
        height: 100%;
    }
    .best_transformation .videos_column .third_video {
        max-width: 100%;
        height: 100%;
        margin-top: 30px;
    }
    .best_transformation .videos_column .fifth_video {
        max-width: 100%;
        height: 100%;
    }
    .best_transformation .videos_column .sixth_video {
        max-width: 100%;
        height: 100%;
        margin-top: 30px;
    }
    .best_transformation .videos_column .seventh_video {
        max-width: 100%;
        height: 100%;
    }
    .best_transformation .videos_column .forth_video {
        max-width: 100%;
        height: 100%;
        margin-top: 0;
    }
    .app_links .app_links_content ul {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
        -o-columns: 1;
    }
    .contact_form .banner_with_contact .contact_form_text {
        margin-top: 0;
        min-height: 100%;
        flex-direction: column;
    }
    .contact_form .banner_with_contact .contact_form_text .text {
        width: 100%;
        flex-direction: column;
        padding: 30px;
    }
    .contact_form .banner_with_contact .contact_form_text .contact_form_section {
        width: 100%;
        padding: 30px;
    }
    .contact_form .banner_with_contact .contact_form_text .contact_form_section form {
        width: 100%;
        margin-top: 0;
        max-width: 100%;
    }
    .our_ultimate_plans .ultimate_plan_column_1 .outUltimateItems {
        width: 100%;
        flex-direction: column;
    }
    .our_ultimate_plans .ultimate_plan_column_1 .outUltimateItems .item {
        width: 100%;
    }
    .transform_body .transform_health_paragraph .achievements {
        flex-direction: row;
        align-items: center;
        background: transparent;
        padding: 0;
    }
    .content_1 {
        text-align: center;
        margin: 20px 0;
    }
    .fitness_in_hands .fitness_hands_column {
        flex-direction: column-reverse;
    }
    .fitness_in_hands .fitness_hands_column .content {
        width: 100%;
        padding: 30px;
    }
    .fitness_in_hands .fitness_hands_column .img {
        width: 100%;
    }
    .banner_section .banner_inner_section .content_section {
        width: 100%;
        height: 100%;
        min-height: 100%;
        padding: 0;
    }
    .banner_section .banner_inner_section .content_section h1 {
        font-size: 28px;
        text-align: center;
    }
    .banner_section .banner_inner_section .content_section label {
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin: 30px auto 10px;
    }
    .banner_section .banner_inner_section .content_section p {
        color: #999999;
        margin-bottom: 20px;
        font-size: 12px;
        text-align: center;
    }
    .banner_section .banner_inner_section .content_section .enter_mobile_button .input_button {
        max-width: 104px;
        height: 42px;
        font-size: 12px;
        right:43px;
        top: 5px;
    }
    .banner_section .banner_inner_section .content_section .enter_mobile_button input.form-control {
        font-size: 14px;
        color: #999999;
        max-width: 313px;
        max-height: 52px;
        height: 100%;
    }
    .banner_section .banner_inner_section .content_section .enter_mobile_button {
        justify-content: center;
    }
    .banner_section .banner_inner_section .img_section img {
        height: 100%;
        min-height: auto;
    }
    .fitness_in_hands .fitness_hands_column .content h4 {
        font-size: 32px;
        font-weight: 700;
    }
    .fitness_in_hands .fitness_hands_column .content ul li {
        display: flex;
    }
    .banner_section .banner_inner_section .img_section .step_board {
        max-width: 128px;
        min-height: 60px;
        left: 30px;
    }
    .banner_section .banner_inner_section .img_section .step_board p {
        font-size: 10px;
    }
    .heading h4{
        font-size: 26px;
    }
    .heading svg {
        left: 0;
        max-width: 112px;
        height: 7px;
    }
    .fitness_in_hands .fitness_hands_column .content h4 {
        font-size: 28px;
    }
    .transform_body .transform_health_heading h4 {
        font-size: 32px;
    }
    .transform_health_paragraph .content p {
        font-size: 12px;
        margin-top: 20px;
    }
    .banner_section .banner_inner_section .img_section {
        min-height: auto;
    }
    .app_links .app_links_content {
        width: 100%;
        height: 100%;
        padding: 0;
        flex-direction: column;
    }
    .app_links .app_links_image {
        margin-top: 0;
    }
    .app_links .app_links_content ul {
        margin: 0;
        padding: 0;
    }
    .app_links {
        padding-bottom: 100px;
    }
    .feature_section .feature_1 {
        margin-bottom: 25px;
    }
    .feature_section .text-dec p {
        font-size: 12px;
    }
    .feature_section {
        margin-bottom: 20px;
    }
    .health_score .form_check_wrap .form-check-inline label {
        font-size: 14px;
    }
    .health_score .form_check_wrap .form-check-inline {
        width: 100%;
    }
    .health_score .health_score_section_wrap .health_question h4 {
        font-size: 14px;
        margin-bottom: 30px;
    }
    footer .footer_inner {
        flex-direction: column;
        text-align: center;
    }
    footer .footer_inner .follow_logo_icons span a {
        margin: 0 13px 19px 9px;
        width: 48px;
        height: 48px;
        padding: 10px;
        display: inline-block;
    }
    footer .footer_inner .follow_logo_icons h4 {
        font-size: 16px;
        margin-bottom: 20px;
    }
    footer .footer_bottom p {
        font-size: 12px;
    }
    .app_links {
        margin: 0;
        min-height: auto;
    }
    .app_links .app_links_content h4 {
        font-size: 32px;
        margin-top: 40px;
    }
    .testimonials .numbers ul li {
        text-align: center;
        width: 33.33%;
        margin-bottom: 30px;
    }
    .our_coaches .coach_section {
        margin: 20px 0;
    }
    .our_coaches .common_button {
        margin-top: 40px;
    }
    .customer_experience .slick-prev {
        left: 55% !important;
    }
    .customer_experience .slick-next {
        right: 52% !important;
    }
    .our_coaches {
        padding: 10px 0 50px;
    }
    .our_coaches .coach_section .coach_content h5 {
        font-size: 14px;
    }
    .our_coaches .coach_section .coach_content p {
        font-size: 10px;
    }
    .health_score .health_score_section_wrap .new_section {
        padding: 25px;
    }
    .health_score .health_score_section_wrap .new_section p {
        margin: 20px 0;
    }
    .health_score .health_score_section_wrap .new_section .health_score_less_more {
        flex-direction: column;
    }
    .fitness_in_hands .fitness_hands_column .img img {
        border-radius: 30px 30px 0 0;
    }
    .how_to_use_internal_section .row{
        flex-direction: column-reverse;
    }
    .transform_body .transform_health_paragraph .achievements .content_1 h4 {
        color: $Primary_Green;
        font-size: 28px;
    }
    .transform_body .transform_health_paragraph .achievements .content_1 h6 {
        color: $Grey_Color;
        font-size: 12px;
    }
    .transform_body_column_reverse{
        flex-direction: column-reverse;
    }
    .transform_body_column_reverse .transform_1:first-child{
        margin-top: 50px;
    }
    .transform_body_column_reverse .player_video{
        border-radius: 8px;
    }
    .best_transformation .heading svg {
        left: -130px;
    }
    .our_coaches .heading svg {
        left: -30px;
    }
    .our_ultimate_plans .heading svg {
        left: -70px;
    }
    .display-none {
        display: block !important;
    }

    .display-block {
        display: none !important;
    }
    .transform_body .transform_health_heading .global_button {
        text-align: center;
        margin: 0 auto;
    }
    .transform_health_heading.display-none {
        margin-bottom: 70px;
        text-align: center;
    }
    .topnav .navbar .navbar-brand img {
        width: 129px;
        height: 30px;
        object-fit: contain;
    }
    a.navbar-brand {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    a.navbar-brand a{
        background: $Primary_Fit_Gradient2;
        border-radius: 75px;
        padding: 10px 25px;
        color: #fff;
        font-size: 12px;
        min-width: 104px;
        max-width: 104px;
        min-height: 42px;
        max-height: 42px;
    }
    .how_to_use {
        padding: 50px 0;
    }
    footer .footer_inner .logo_with_content p {
        max-width: 100%;
    }
}

@media(min-width: 992px) and (max-width: 1240px){
    .app_links .app_links_content {
        justify-content: center;
        margin-top: 60px;
    }
    .app_links .app_links_image {
        text-align: center;
    }
    .google_apple_links {
        padding-bottom: 110px;
    }
    .app_links .app_links_content ul {
        margin: 40px 0 30px 0;
    }
    .feature_section .feature_1 {
        margin-bottom: 30px;
    }
    .our_coaches .coach_section {
        margin: 100px 0 0;
    }
    .our_coaches .common_button {
        margin-top: 80px;
    }
    .customer_experience .slick-prev {
        left: 39% !important;
    }
    .customer_experience .slick-next {
        right: 37% !important;
    }
    .banner_section .banner_inner_section .content_section h1 {
        font-size: 40px;
    }
    .banner_section .banner_inner_section .content_section .enter_mobile_button input.form-control {
        font-size: 14px;
    }
    .banner_section .banner_inner_section .content_section .enter_mobile_button .input_button {
        top: 4px;
    }

}
